<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray">

            <i class="bi bi-hdd-stack-fill"></i>

            <h3>Back-end</h3>


            <p>
                Desarrollo de aplicaciones web y servicios RESTful utilizando ASP.NET Core y Entity Framework.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, Entity Framework, SQL Server, MySQL, MongoDB.
            </p>

            <p class="text-primary cabecera">
                Esperiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>


        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>

            <p>
                Desarrollo de interfaces de usuario interactivas y responsivas utilizando HTML, CSS y JavaScript.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                HTML, CSS, JavaScript, Bootstrap, React.
            </p>

            <p class="text-primary cabecera">
                Esperiencia:
            </p>

            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
            </ul>


        </div>

    </div>
</div>
