<div class="text-center">
    @* <h1 class="display-4">Soy @ViewBag.Nombre</h1> *@

    <h1 class="display-4">Soy Christian Emanuel Flores Arcia</h1>
    <h2>Desarrollador Full Stack especializado en tecnologias .NET y JavaScript.</h2>

    <img id="foto" src="~/img/foto.jpg" alt="Foto de Christian" />
</div>

<div class="text-center">
    <img id="img-dotnet" src="~/img/dotnet-imagen-2.png" alt="logo dotnet" />

</div>

<div class="row justify-content-center text-center bg-primary">

    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy estudiante avanzado de la carrera de Informática Empresarial en la Universidad de Costa Rica, con
            sólidos conocimientos en programación, bases de datos y sistemas de información. Responsable,
            proactivo y con gran capacidad de adaptación al trabajo en equipo y la solución de problemas.
            Busco una empresa donde pueda realizar mi práctica profesional y aplicar mis conocimientos en un
            entorno real.
        </p>
    </div>

</div>